.container{
    display: grid;
    grid-gap: 5px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6f69;
    margin-bottom: 5px;
}

.container > li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    background-color: #96ceb4;	
}


input{
  color: #ffeead;
  background-color: #ff6f69;
  font-size: 25px;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

